
// Font.
$font: (
  primary: ('Roboto'),
  /*monospace: (Monaco, courier, monospace)*/
  monospace: ('Roboto Mono')
);

// Palette.

$palette: (
  primary:           rgba(14, 30, 37, 0.87),
  secondary:         rgba(14, 30, 37, 0.87),
  meta:              #67758d,
  border:            #dee5ef,
  bg:                #f6f6f6,
  note:              #fcb41d,
  important:         #fc381d,
  accent:            getPaletteKey(accent1),
  accent-alt:        getPaletteKey(accent2),
);







@import "imports/functions";

/*@import "fontawesome.min.css";
@import "brands.min.css";*/

@import "imports/reset";
@import "imports/general";
@import "imports/icons";
@import "imports/animations";
@import "imports/structure";
@import "imports/header";
@import "imports/content";
@import "imports/docs";
@import "imports/blocks";
@import "imports/footer";
@import "imports/prism";
