/**
 * General
 * ----------------------------------------------------------------------------
 */

@import url('https://cdnjs.cloudflare.com/ajax/libs/flexboxgrid/6.3.1/flexboxgrid.min.css');
@import url('https://cdn.rawgit.com/konpa/devicon/df6431e323547add1b4cf45992913f15286456d3/devicon.min.css');
@import url('https://fonts.googleapis.com/css?family=Roboto+Mono|Roboto:400,500&display=swap');
html {
font-family: 'Roboto', ;
font-weight: 400;
font-style: normal;
  font-size: 100%;
}

body {
  --bg: #F6F6F6!important;
  --textNormal: rgba(14, 30, 37, 0.87)!important;
  --textTitle: #F6F6F6!important;
  --textLink: #5b6ff1!important;
  --hr: hsla(0, 0%, 0%, 0.2)!important;
  background-color: var(--bg)!important;
  color: var(--textNormal)!important;
  --insideBg: #FFFFFF!important;
  --sideHover: #5b6ff1;
  --navBg: #F6F6F6;
  /*--border: rgba(14, 30, 37, 0.054);*/
  --border: #dee5ef;
}

body.dark {
  -webkit-font-smoothing: antialiased!important;

  --bg: #000000!important;
  --textNormal: #d9d7e0!important;
  --textTitle: #131217!important;
  --textLink: #5b6ff1!important;
  --hr: hsla(0, 0%, 100%, 0.2)!important;
  --insideBg: #1F1F1F!important;
  --sideHover: #5b6ff1;
  --navBg: #1F1F1F;
  --border: rgb(47, 51, 54);


}

body {
 /* background: _palette(bg);*/
  background-color:#f6f6f6;
 /* color: _palette(primary);*/
	color: rgba(14, 30, 37, 0.87);

  line-height: 1.875;
  text-rendering: optimizeLegibility;
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased;
	  font-size: 18px;
  line-height:1.575;
}
/*main#content{
   max-width: 980px;
   margin: 0 auto;
}*/
a {
  border-bottom: 0px solid currentColor;
/*  color: _palette(accent);*/
  color: var(--textLink);
  text-decoration: none;
/*  -webkit-transition: border-color .3s ease, color .3s ease;
  transition: border-color .3s ease, color .3s ease;*/
	transition: all .1s;
-webkit-transition: all .1s;
  &:hover,
  &:focus {
    color: var(--textLink);
  }
}
b, strong {
    font-weight: 500;
}
h1,
h2,
h3,
h4,
h5,
h6 {
  /*color: _palette(secondary);*/
  color: var(--textNormal)!important;
  font-weight: 500;
  line-height: 1.2;
  margin: 2.25rem 0 1.125rem;
  text-rendering: optimizeLegibility;
font-family: 'Roboto', ;

  &:first-child {
    margin-top: 0;
  }
}

h1 {
  font-size: 2.5rem;
}

h2 {
  font-size: 2.25rem;
}

h3 {
  font-size: 1.875rem;
}

h4 {
  font-size: 1.5rem;
}

h5 {
  font-size: 1.25rem;
}

h6 {
  font-size: 1.125rem;
}

p {
  margin: 0 0 1.875em;
  font-size: 18px;
  line-height:1.575;
}

address {
  font-style: italic;
  margin: 0 0 1.875em;
}

mark,
ins {
  background: lighten(_palette(note),40%);
  color: _palette(secondary);
  padding: 0 3px;
  text-decoration: none;
}

pre {
  background: _palette(bg);
  border-radius: 3px;
  color: _palette(primary);
  font-family: _font(monospace);
  font-size: 0.875rem;
  line-height: 1.5;
  margin: 0 0 1.875rem;
  overflow: auto;
  padding: 1.5rem;
  text-align: left;
  white-space: pre;
  word-spacing: normal;
  word-break: normal;
  word-wrap: normal;
}

:not(pre) > code {
  background: #f4e5e5;
  color: #900;
  border-radius: 3px;
  /*font-size: 0.875rem;*/
  font-size: 16px;
  padding: 0.1em;
  white-space: normal;
}

blockquote {
  border-left: 5px solid _palette(accent);
  font-size: 1.5rem;
  line-height: 1.3;
  margin: 1.5em 0;
  padding-left: 1em;

  &:first-child {
    margin-top: 0;
  }

  p {
    margin-bottom: 0.5em;

    &:last-child {
      margin-bottom: 0;
    }
  }

  small,
  cite {
    color: _palette(meta);
    display: block;
    font-size: 0.75em;
    font-style: normal;
    font-weight: normal;
    line-height: 1.5;
    margin-top: 1em;

    &:last-child {
      margin-bottom: 0;
    }
  }
}

dl {
  margin: 0;
}

dt {
  font-weight: bold;
}

dd {
  margin: 0 0 1.875em;
}

ul,
ol {
  margin: 0 0 1.875em;
  padding: 0 0 0 1.5em;
}

li > ul,
li > ol {
  margin-bottom: 0;
}

hr {
  border: 0;
  border-bottom: 1px solid _palette(border);
  margin: 1.875em 0;
}

table {
  line-height: 1.5;
  margin: 0 0 1.875em;
  text-align: left;
  width: 100%;
}

caption {
  color: _palette(meta);
  font-size: 0.875rem;
  font-style: normal;
  margin-bottom: 0.75rem;
  text-align: left;
}

th,
td {
  border-bottom: 1px solid _palette(border);
  padding: 0.5em 5px;
}

th {
  color: _palette(secondary);
  font-weight: bold;
}

.post-content {
  table {
    display: block;
    overflow-x: auto;
    -webkit-overflow-scrolling: touch;
  }

  tbody,
  thead {
    width: 100%;
  }

  tr {
    width: 100%;
  }

  td {
    min-width: 140px;
  }
	a{
	text-decoration: underline;
	}
}

/* Form fields */
label {
  font-weight: bold;
}

input[type=checkbox]+label,
input[type=radio]+label {
  cursor: pointer;
  padding-left: 0.25em;
  padding-right: 1em;
}

input[type="text"],
input[type="password"],
input[type="email"],
input[type="tel"],
input[type="search"],
input[type="url"],
select,
textarea {
  background: transparent;
  border: 1px solid _palette(border);
  border-radius: 3px;
  box-shadow: none;
  box-sizing: border-box;
  color: inherit;
  display: block;
  font-size: 16px;
  font-weight: normal;
  line-height: 1.5;
  max-width: 100%;
  padding: 0.5em 15px;
  width: 100%;

  &:focus {
    outline: 0;
  }
}

input[type="text"],
input[type="password"],
input[type="email"],
input[type="tel"],
input[type="search"],
input[type="url"],
select {
  height: 3em;
}

button,
input[type="submit"],
input[type="button"],
input[type="reset"],
a.button {
  background-color: _palette(accent);
  border: 3px solid _palette(accent);
  border-radius: 25px;
  box-sizing: border-box;
  color: #fff;
  display: inline-block;
  font-size: 0.875rem;
  font-weight: bold;
  height: 3.25em;
  letter-spacing: 0.025em;
  line-height: 1.5;
  padding: 0.25em 40px;
  -webkit-transition: background-color .3s, color .3s, box-shadow .3s;
  transition: background-color .3s, color .3s, box-shadow .3s;

  &:hover,
  &:focus,
  &:active {
    background-color: transparent;
    color: _palette(accent);
    outline: 0;
  }
}

a.button {
  height: auto;
  padding-bottom: 0.64285em;
  padding-top: 0.64285em;
}

.button {
  &.secondary {
    background: transparent;
    border-color: #fff;
    color: #fff;

    &:hover,
    &:focus,
    &:active {
      background-color: #fff;
      color: _palette(accent);
    }
  }
}

#menu-open,
#menu-close,
.docs-nav .docs-nav-toggle,
.docs-nav .submenu-toggle {
  background: 0;
  border: 0;
  border-radius: 0;
  box-shadow: none;
  color: inherit;
  height: 30px;
  padding: 0;
  position: relative;
  width: 30px;
}

/* Placeholder text color */
::-webkit-input-placeholder {
  color: _palette(meta);
}

:-moz-placeholder {
  color: _palette(meta);
}

::-moz-placeholder {
  color: _palette(meta);
  opacity: 1;
}

:-ms-input-placeholder {
  color: _palette(meta);
}

/* Videos, audios and embeds */
embed,
iframe,
object,
video {
  max-width: 100%;
}

.js-reframe {
  margin: 0 0 1.875em;
}

/* Images */
img {
  height: auto;
  max-width: 100%;
}

/* Notifications */
.note {
  background: lighten(_palette(note),40%);
  border-left: 5px solid _palette(note);
  border-radius: 5px;
  color: _palette(secondary);
  margin-bottom: 1.875em;
  padding: 1em 1.125em;
}

.important {
  background: lighten(_palette(important),40%);
  border-left: 5px solid _palette(important);
  border-radius: 5px;
  color: _palette(secondary);
  margin-bottom: 1.875em;
  padding: 1em 1.125em;
}

/* Background gradient */
.bg-gradient {
 /* background: _palette(accent);
  background: -webkit-linear-gradient(left,_palette(accent-alt), _palette(accent));
  background: linear-gradient(to right, _palette(accent-alt), _palette(accent));*/
  background-color:#f6f6f6;
}

/* Background Image */
.bg-img {
  -webkit-animation: fadeIn .75s ease-in-out;
  animation: fadeIn .75s ease-in-out;
  background-position: center;
  background-size: cover;
  bottom: 0;
  left: 0;
  opacity: 0.15;
  position: absolute;
  right: 0;
  top: 0;
}

/* Heading decoration */
.line-left {
  position: relative;

  &:before {
    background: _palette(accent);
    content: "";
    height: 100%;
    left: -1px;
    position: absolute;
    top: 0;
    width: 5px;
  }
}

/* Text meant only for screen readers */
.screen-reader-text,
.site-logo + .site-title {
  border: 0;
  clip: rect(1px, 1px, 1px, 1px);
  height: 1px;
  overflow: hidden;
  padding: 0;
  position: absolute !important;
  width: 1px;
}

/* Clearing floats */
.post-content:after {
  clear: both;
}

.post-content:before,
.post-content:after {
  content: "";
  display: table;
}




/*background colors*/
.fill-light-green {
    background-color: rgb(15, 224, 182)!important;
    box-shadow: rgb(15, 224, 182) 0px 10px 20px -16px;
}
.fill-light-blue {
    background-color: rgb(0, 204, 255)!important;
    box-shadow: rgb(0, 204, 255) 0px 10px 20px -16px;
}
.fill-dark-blue {
    background-color: rgb(79, 101, 241)!important;
    box-shadow: rgb(79, 101, 241) 0px 10px 20px -16px;
}

.fill-yellow {
    background-color: rgb(255, 218, 93)!important;
    box-shadow: rgb(255, 218, 93) 0px 10px 20px -16px;
}

.fill-red {
    background-color: rgb(252, 66, 116)!important;
    box-shadow: rgb(252, 66, 116) 0px 10px 20px -16px;
}

.fill-purple {
    background-color: rgb(122, 73, 255)!important;
    box-shadow: rgb(122, 73, 255) 0px 10px 20px -16px;
}

.fill-dark-blue {
    background-color: rgb(79, 101, 241)!important;
    box-shadow: rgb(79, 101, 241) 0px 10px 20px -16px;
}
.fill-orange {
    background-color: rgb(255, 193, 93)!important;
    box-shadow: rgb(255, 193, 93) 0px 10px 20px -16px;
}

.fill-indigo {
    background-color: rgb(38, 66, 241)!important;
    box-shadow: rgb(38, 66, 241) 0px 10px 20px -16px;
}


/*...*/


section#hero, section#features, section#text-img, section#cta{
   max-width: 980px;
   margin: 0 auto;
}

/*[class*=" devicon-"], [class^=devicon-]{
font-size:56px;
}*/
i.devicon{
	font-size:56px;
	color:#fff;
}
ul.toc-submenu{
padding: 0 0 0 1.5em;
}



/*brand fill colors*/
.fill-light-green {
    background-color: rgb(15, 224, 182)!important;
    box-shadow: rgb(15, 224, 182) 0px 10px 20px -16px;
}

.fill-html {
    background-color: #E44D26!important;
    box-shadow: #E44D26 0px 10px 20px -16px;
}
.fill-css {
    background-color: #16A1DC!important;
    box-shadow: #16A1DC 0px 10px 20px -16px;
}
.fill-javascript {
    background-color: #F0DB4F!important;
    box-shadow: #F0DB4F 0px 10px 20px -16px;
}
.fill-bootstrap {
    background-color: #563D7C!important;
    box-shadow: #563D7C 0px 10px 20px -16px;
}

.fill-angularjs {
    background-color: #DC3135!important;
    box-shadow: #DC3135 0px 10px 20px -16px;
}
.fill-react {
    background-color: #00D2F8!important;
    box-shadow: #00D2F8 0px 10px 20px -16px;
}
.fill-mysql {
    background-color: #00678E!important;
    box-shadow: #00678E 0px 10px 20px -16px;
}
.fill-nodejs {
    background-color: #73AB63!important;
    box-shadow: #73AB63 0px 10px 20px -16px;
}
.fill-mongodb {
    background-color: #469E46!important;
    box-shadow: #469E46 0px 10px 20px -16px;
}

label.dark-toggle{
display: inline-block;
font-weight:18px;
line-height: 18px;
font-weight:400;
}
label.dark-toggle svg{
fill :var(--textNormal);
margin-top: 4px;
position:inherit ;
padding: 0 0.75rem;
border-left: 2px solid rgba(14,30,37,.09);
	
}
label.dark-toggle label{
padding:0;
}


label.dark-toggle input.dark-toggle {
display:none;
	
}
/*.site-nav-inside input + label:after {
  cursor: pointer;
  content: ' 🌓';
  line-height:18px;
  font-weight: 400;
}
.site-nav-inside input + label:hover:after {
}
.site-nav-inside input:checked + label:after {
  content: ' ☀️';
  line-height:18px;
  font-weight: 400;
}*/
